/* Fonts */
@font-face {
  font-family: "Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
  font-weight: 100 900;
}

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  color: #5f564d;
  padding: 40px;
  background-color: #f3e5d7;
}

h1,
h2 {
  font-family: "Young Serif", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 24px;
}

h1 {
  font-size: 2rem;
  color: #312e2c;
}

h2 {
  font-size: 1.75rem;
  color: #854632;
}

section:not(:last-child),
hr {
  margin-bottom: 32px;
}

hr {
  height: 1px;
  border: none;
  background-color: #e3ddd7;
}

ul,
ol {
  padding-left: 24px;
}

li {
  padding-left: 16px;
  margin-bottom: 8px;
}

li:last-child {
  margin-bottom: 0;
}

li::marker {
  font-weight: 700;
  color: #854632;
}

/* card */
.card {
  max-width: 750px;
  margin: 0 auto;
  background-color: #fff;
}

.top-image {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Main */
main {
  padding: 40px 32px;
}

/* Preaparation */
.preparation {
  padding: 24px;
  background-color: #fff7fb;
}

.preparation h2 {
  font-family: "Outfit", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  color: #7A284E;
  margin-bottom: 16px;
  border-radius: 12px;
}

/* Table */
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 12px;
}

tr:not(:last-child) {
  border-bottom: 1px solid #E3DDD7;
}

th, td {
  text-align: left;
  font-weight: 400;
  padding: 12px 0 12px 32px;
}

tr:last-child th, tr:last-child td {
  padding-bottom: 0;
}

td {
  font-weight: 700;
  color: #854632;
  padding-left: 0;
}

/* Meidia queries */
@media screen and (min-width: 376px) {
  h1 {
    font-size: 2.5rem;
  }

  .card {
    border-radius: 24px;
  }

  header {
    padding: 40px;
  }

  .top-image {
    border-radius: 12px;
  }

  main {
    padding: 0 40px 40px 40px;
  }
}
